body{
    background-image: url("backgroundfinal.jpg");
    background-repeat: no-repeat;
    font-family:'Trebuchet MS';
}

html, body{
    max-width: 100%;
    max-height:100%;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;     
    position: relative; 
    top: 0;
    left: 0;
    z-index: 100;
}

a{
    cursor: pointer;
}

button {
    border: 2px solid #960000;
    background-color: #ad0000;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}
button:hover {
        background-color: #d80303;
}

.header-title{
    margin: 0 auto;
    color: white; 
    font-size: 1.5em;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.header nav {
    flex-shrink: 0;
}

.container-flex {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

#container-cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card{
    position: relative;
    width: 250px;
    height: 400px;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border: 3px solid #b5a04e; 
    border-radius: 12px;

}

.card:hover{
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
}

.card-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 15px 15px 30px 15px; 
    z-index: 2; 
    text-align: center;
}

.card-title-overlay h2 {
        color: white;
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.resultado-nome {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}

.header-link {
    color: white; 
    text-decoration: none; 
    font-size: 1em;
    padding: 5px 10px; 
    display: inline-block;
    transition: color 0.3s ease, background-color 0.3s ease;
}