/* Cabecalho da página */
header{
    padding: 20px 0;
    background-color: rgba(24, 0, 179, 0.3);
}

.container-header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}

.container-header h1{
    margin: 0;
    color: white;
    font-size: 24px;
}

.container-header nav{
    position: absolute;
    right: 7px;
}

.container-header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Corpo da página */ 
body{
    background-image: url("backgroundfinal.jpg");
    background-repeat: no-repeat;
    font-family:'Trebuchet MS';
    background-attachment: fixed;
    background-color: rgba(24, 0, 179, 0.5);
}

a{
    cursor: pointer;
}

button{
    border: 2px solid #000fb1;
    background-color: #0000be;
    color: white;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.8em 1.2em 0.8em 1em;
    font-size: 16px;
    outline: none;
}

button:hover {
        background-color: #0800ff;
}

button:active{
    transform: scale(0.95);
} 

/* Cards */
.container-flex {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

#container-cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card{
    position: relative;
    width: 250px;
    height: 400px;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border: 3px solid #b5a04e; 
}

.card:hover{
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
        
}

.card-title-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 15px 15px 30px 15px; 
    z-index: 2; 
    text-align: center;
}

.card-title-overlay h2 {
        color: white;
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.resultado-nome {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}

/* Responsividade */
@media (max-width: 600px) {
    .container-header h1 {
        font-size: 18px;
        text-align: center;
    }

    .container-header nav {
        right: 10px;
        font-size: 14px;
    }

    .card {
        width: 90%;
        height: auto;
    }
}

/* Slider */
#dvSlider {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 2px #000000;
    margin: auto
}